// This is how composition works with CSS Modules
// http://glenmaddern.com/articles/css-modules
.page
  composes page from './App.styl'

.siteTitle
  composes siteTitle from './App.styl'

.siteContentLeft
	composes siteContent from './App.styl'

.siteContentRight
	composes siteContent from './App.styl'

.socialPopout
	composes socialPopout from './App.styl'

.socialNetwork
	composes socialNetwork from './App.styl'

.contactPhoto
	composes contactPhoto from './App.styl'

.footer
	composes footer from './App.styl'